@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-neon-yellow: #fde047; /* Tailwind yellow-300 */
  --color-neon-cyan: #22d3ee; /* Tailwind cyan-400 */
  --color-neon-magenta: #f472b6; /* Tailwind pink-400 */
}

@layer utilities {
  .brutal-border {
    border: 4px solid #000000;
  }
  
  .brutal-shadow {
    box-shadow: 6px 6px 0px 0px #000000;
  }
  
  .brutal-shadow-hover {
    box-shadow: 2px 2px 0px 0px #000000;
    transform: translate(4px, 4px);
  }
}
